<div class="modal-header">
  <h4 class="modal-title">{{id_activity ? 'Modificare Activitate' : 'Adăugare Activitate'}}</h4>
</div>
<div class="modal-body mt-3">
  <div class='form-group mb-10'>
    <div class='row'>
      <label class='col-2'>Denumire*</label>
      <div class='col-5'>
        <input class='form-control' [(ngModel)]='modal.name' [ngClass]='required.name ? "error" : ""' (ngModelChange)='required.name = !modal.name' placeholder='...' />
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss()">Renunță</button>
  <button type="button" class="btn btn-success" (click)='save()'>Salvează</button>
</div>