.mat-menu-content {
  border: 1px solid #ddd;
  font-size: 13px;

  li {
    cursor: pointer;
    line-height: 24px;
    height: 24px;
    background: none;
    padding: 0px 16px 0px 8px;

    &:hover {
      background-color: #f5f5f5;
    }

    .mat-menu-submenu-icon {
      right: 5px;
    }
  }

  hr {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .ng-fa-icon {
    margin-right: 3px;
  }

  .rs-divider {
    margin-left: -20px;
    margin-right: -8px;
  }
}
