.ngx-spinner-overlay {
  .la-line-scale{
    color: #3f6f80 !important;
  }

  .loading-text {
    top: 55% !important;
  }

  .text {
    color: #3f6f80;
    font-size: 26px;
    font-weight: bold;
  }
}
