#toast-container {
  .toast {
    font-size: 16px;
    box-shadow: none;
    opacity: 1;
    min-width: 350px;

    &.toast-error {
      background-color: #BD362F !important;
    }

    &.toast-success {
      background-color: #51A351 !important;
    }

    &.toast-warning {
      background-color: #F89406 !important;
    }

    &.toast-info {
      background-color: #2F96B4 !important;
    }
  }
}
