.cursor-pointer {
  cursor: pointer;
}

.text-warning {
  color: #8a6d3b !important;
}

.text-primary {
  color: #2196f3 !important;
}

.text-danger {
  color: #dc3545 !important;
}

.text-success {
  color: #3c763d !important;
}

.bg-info {
  background-color: #d9edf7 !important;
}

.bg-danger {
  background-color: #d9534f !important;
  color: white !important;
}

.width-120 {
	width: 120px;
  margin: 0 auto;
}

.width-500 {
	width: 500px;
  margin: 0 auto;
}

.width-800 {
	width: 800px;
  margin: 0 auto;
}

.width-1000 {
	width: 1000px;
  margin: 0 auto;
}

.width-1024 {
	width: 1024px;
  margin: 0 auto;
}

.width-1200 {
  max-width: 1200px;
  margin: 0 auto;
}

.width-1220 {
  max-width: 1220px;
  margin: 0 auto;
}

.width-1250 {
  max-width: 1250px;
  margin: 0 auto;
}

.width-1270 {
  max-width: 1270px;
  margin: 0 auto;
}

.width-1360 {
  max-width: 1360px;
  margin: 0 auto;
}

.workflow-right {
  margin-left: 34px;
}

.p-left-6 {
  padding-left: 6px;
}

.bg-primary {
  color: #fff;
  background-color: #337ab7 !important;
}

.indent-5 {
  text-indent: 5px;
}
